{% extends "layout.html.twig" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% for recipe in listRecipes %}
    <div class="col-lg-offset-3 col-lg-6 article">
      <h2><a href="{{url}}recette/{{recipe.id}}">{{recipe.nom_recette}}</a></h2>

      <span class="type{{recipe.id_type_recette}}">{{recipe.type_recette}}</span>
      <span class="date">Posté le {{recipe.date_ajout}}</span>
      <span class="comment"><a href="{{url}}recette/{{recipe.id}}#commentaire">2 commentaires</a></span>

      <div class="media">
        <div class="media-left">
          <img src="{{recipe.url_photo}}" alt="{{recipe.nom_type_recette}}" class="thumbnail mini-photo" />
        </div>
        <div class="media-body">
          {{recipe.description}}

          <div style="float:right;padding-right:10px;margin-top:10px;">
            <a class="morer" href="{{url}}recette/{{recipe.id}}">Déguster la suite ...</a>
          </div>
        </div>
      </div>
     
      <div class="deco-line"></div>
    </div>
    {% endfor %}
  </div>
</div>
      
{% endblock %}