{% extends "layout.html.twig" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 article">
    {% for recipe in listRecipes %}
      <h2><a href="{{url}}recette/{{recipe.id}}">{{recipe.nom_recette}}</a></h2>

      <span class="type{{recipe.id_type_recette}}">{{recipe.type_recette}}</span>
      <span class="date">Posté le {{recipe.date_ajout}}</span>
      <span class="comment"><a href="{{url}}recette/{{recipe.id}}#commentaire">2 commentaires</a></span>

      <div class="media">
        <div class="media-left">
          <img src="{{recipe.url_photo}}" alt="{{recipe.nom_type_recette}}" class="thumbnail mini-photo" />
        </div>
        <div class="media-body">
          {{recipe.description}}

          <div style="float:right;padding-right:10px;margin-top:10px;">
            <a class="morer" href="{{url}}recette/{{recipe.id}}">Déguster la suite ...</a>
          </div>
        </div>
      </div>
     
      <div class="deco-line"></div>
    {% endfor %}

      <nav>
        <ul class="pager">
          {% set page_recente = num_page - 1 %}
          {% set page_ancienne = num_page + 1 %}

          {% if page_recente <= 0 %}
            <li class="disabled"><a>Recettes récentes</a></li>
          {% else %}
            <li><a href="{{url_type_recette}}page/{{page_recente}}">Recettes récentes</a></li>
          {% endif %}

          {% if page_ancienne > (nb_recette/10) + 1 %}
            <li class="disabled"><a>Recettes anciennes</a></li>
          {% else %}
            <li><a href="{{url_type_recette}}page/{{page_ancienne}}">Recettes anciennes</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
      
{% endblock %}